body{
    background-color: green;
    
}
 /* For desktop: */
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
 

 
/* header area start */
.navbar{
    display: flex;
    background-color:teal;
  
}
    
.navbar-logo img{
    margin-left: 60px;
    width: 60px;
    margin-top: 20px;
}
.navbar-heading h1{
    color: white;
    margin-left: 150px;
}
.navbar-menu a{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  margin-top:20px;
}
 a:hover{
    text-decoration: underline;
}
.navbar-menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
/* header area end */