

/* responsive */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* end responsive   */ 
 
 
 *{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body{
         margin: 0;
    padding: 0;
}
/* header design start here */
.navbar{
    background-color:teal;
    text-align: center;

}
.navbar img{
    width: 100px;
}
h1{
   
    color: white;
    text-align: center;

}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: upercase;

}
.navbar-menu a{
    background-color:seagreen;
    font-size: 18px;
    text-decoration: none;
    padding: 10px; 20px;
    border-radius: 10px;
    margin: 10px;
    color: white;

}
.navbar-menu a:hover{
    background-color: gray;
    text-decoration: underline;
}


[class*="col-"]{
    float: left; 
    padding: 10px;
}
/* for mobile */
[class*="col-"]{
    width: 100%;
}
.navbar::after{
    clear: both;
    display: table;
    content: '';
}

/* header design end here */
/* profile design start form here */
.profile h1{
    color: gray;
    font-family: 'Dancing Script', cursive;
}
.profile p{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin: 40px;
}
.top-img{
    width: 200px;
    margin-left: 700px;
    margin-top: 20px;
   transition: transform 2s;

}
.top-img:hover{
    transform: rotate(360deg);
}
.bottom-img{
    width: 200px;
    margin-left: 70px;
    transition: transform 2s;
}
.bottom-img:hover{
    transform: rotate(360deg);
}
/* profile design end from here */
 /* about me desing start from here */
 .about{
     background-color: teal;
     text-align: center;
     color: white;
 }
 .about h2{
     margin-top: 20px;
     color: white;
   text-align: center;
   padding-top: 20px;

 }
 .dotted-line{
     width: 100px;
     border: dotted 1px white;
     


 }
.button{
    background-color:seagreen;
    border-radius: 10px;
    border: 2px solid violet;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
}
.button:hover{
    background-color:violet;
}

 .images img{
     width: 200px;
 }
 /* about design end here */
 /* professonal design start here */
 .card h2{
     color: white;

 }
 }
 .prfessional-experience::after{
    clear: both;
    display: table;
    content: '';
 }
 .card{
     padding: 10px;
     border-radius: 5px;
     background-color:turquoise;
     border: 2px solid black;
     padding: 4px;
     height: 700px;
     box-sizing: border-box;
    
     

 }
 .card:hover{
     box-shadow: 1px 2px 3px 4px pink;
 }
 .work-img{
     width: 220px;
     height: 200px;
     border-radius: 50%;
     border: 2 px solid gray;
     margin: 0 auto;
     display: block;
     

 }
 .work-logo{
     margin: 0 auto;
 }
 .title h2{
     text-align: center;
 }
 .describe-skill li{
     list-style: none;
     text-transform: upercase;
     font-family: tahoma;
     font-weight: bold;
     position: relative;
     margin: 30px 20px;
     
 }
 .describe-skill li::before{
     content: '';
     position: absolute;
     background-color:sienna;
     top: calc(100% + 15px);
     width: 100%;
     height: 10px;
     border-radius: 1000px;
    left:0;
 }
 .describe-skill li::after{
     content: '';
     position: absolute;
     top: calc(100% + 15px);
     width: 0%;
     height: 10px;
     background-color: red;

     border-radius: 1000px;
     left: 0;

     animation-duration: 5s;
     animation-timing-function: linear;
     animation-fill-mode: forwards;
     animation-delay: 2s;
     animation-iteration-count: infinite;
 }
 
 .describe-skill li.html::after{
     animation-name: html;
 }
@keyframes html{
    to{
        width: 90%;
    }
}
.describe-skill li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 80%;
    }
}

 .describe-skill li.bootstrap::after{
     animation-name: bootstrap;
 } @keyframes bootstrap{
     to{
         width: 70%;
     }
 } 
 .describe-skill li.js::after{
     animation-name:
 }
.describe-skill li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 60%;
    }
}
.describe-skill li.jquery::after{
    animation-name: jquery;
}
@keyframes jquery{
    to{
        width: 50%;
    }
    
}
.describe-skill li.react::after{
    animation-name: react;
    
}
@keyframes react{
    to{
        width: 40%;
    }
}
.describe-skill li.node::after{
    animation-name: node;
}
@keyframes node{
    to{
        width: 30%;
    }
}
.describe-skill li.exprese::after{
    animation-name: exprese;
}
@keyframes exprese{
    to{
        width: 20%;
    }
}
 /* professonal design end here*/
/* achievement-content start from here */
.achievment-contact{
   margin: 5px;
}
.achievment-contact{
    color: white;
    background-color:teal;
    margin: 5px;
    border: 2px solid black;
}
.achievment-contact::after{
    content: '';
    display: table;
    clear: both;
}
.achievment-contact h2{
    text-align: center;
    color: white;
}
.contact{
  
    text-align: center;

}
.contact input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border:none;
    border-radius: 10px;
    resize: none;
}
.contact button{
    width: 100px;
    padding: 20px 20px
    
    test-color: white; 
    background-color: gray;
    border: none;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

    
}
.contact button:hover{
    border: 2px solid yellowgreen;
}
/* achivment-contact start from here */

.contact-links{
    text-align: center;
}
.btn{
    width: 60px;
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 30px;
    border-radius: 10px;

}
.btn:hover{
    background-color: gray;
    border: 1px solid white;
}
/* achivment-contant end here */
/* footer design start from here */
.footer::after{
    content: '';
    display: block;
    clear: both;
}
.footer{
   background-color: black;

}
.footer-menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
}
.footer-menu a:hover{
    text-decoration: underline;
}
.footer-des p{
    color: gray;
    font-size: 10px;
    text-align: center;
}
/* footer design end from here */












 







